/* ************************************************************
GLOBAL STYLES
****************************************************************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: 0 0 0 0.5px red; */
}
body{
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* ************************************************************
COMPONENTS
*************************************************************** */






/* ************************************************************
SECTIONS
*************************************************************** */


/* *********  Pos_header section ************ */

.pos_header{
    display: none;
}

/* *********  HEader ************ */

header{
    width: 100%;
    height: 5em;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #54575F;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: flex-end;
}
.logo img{
    border-right: 1px solid #54575F;
    padding-right: 30px;
}
.logo p{
    display: flex;
    align-self: center;
    text-transform: capitalize;
    color: #DEDEE2;
    padding-left: 7%;
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav{
    width: 40%;
}
header nav ul li a{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 0.2em;
}
header nav ul li a:hover{
    color: aqua;
}
.search a{
    text-decoration: none;
    color: #fff;
}
.soc_media{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #54575F;

}
.soc_media a{
    display: block;
    color: #ffffff;
    transition: all 0.2s ease 0s;
    padding: 1em;
    font-size: 16px;
}
.soc_media a:hover{
    color: aqua;
}


/* ************  home section **************** */
.home{
    width: 100%;
    height: 100vh;
}

.slider_item{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.slider_item_title{
    position: absolute;
    left: 10%;
    top: 45%;
    z-index: 1;
    color: #fff;
}
.slider_item_title h1{
    font-family: montserrat,Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 6px 0 0;
    text-align: left;
}
.slider_item_title span{
    font-family: montserrat,Sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1em;
    text-align: left;
    display: block;
}
.slider_item_title h2{
    font-family: montserrat,Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 40px;
    margin: 14px 0 30px;
    text-align: left;
    align-self: center;
}

.slick-slider{
    min-width: 0;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slick-dots{
    position: absolute;
    left: 10em;
    top: 75%;
    display: flex;
    list-style: none;
    padding: 0;
}
.slick-dots li{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 inset,0 0 0 inset, 0 0 0 inset, 0 0 0 inset;
}
.slick-dots li.slick-active{
    box-shadow: 0 0 0 inset,0 -10px #fff inset, 0 0 0 inset, 0 0 0 inset;
}
.slick-dots li button{
    background: transparent;
    font-size: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* **********  Experience section **************************** */

.experience{
    width: 100%;
    height: 100%;
    padding: 5em 0;
}
.experience_container{
    display: flex;
    align-items: flex-start;
}
.experience .experience_number{
    width: 25%;
    border: 2px solid #111;
    padding: 2em;
}
.experience_number > span{
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.experience_number > span:first-child{
    font-size: 180px;
    color: #1b1f29;
    font-weight: 800;
}
.experience_number > span:nth-child(2){
    font-size: 50px;
    font-weight: 400;
}
.experience_number > span:nth-child(3){
    font-size: 19px;
    font-weight: 400;
}
.experience_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    text-transform: uppercase;
}
.welcome{
    font-size: 20px;
    letter-spacing: 25px;
    margin-bottom: 12%;
    font-weight: 500;
    width: 100%;
}
.min_text{
    font-size: 50px;
    font-weight: 500;
}
.max_text{
    font-size: 50px;
    font-weight: 800;
}
.experience_text{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/* *************************************************************************************************
Bold project section
********************************************************************************************** */
.bold_projects{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 200px 0;
}
.left_text{
    width: 40%;
}
.left > h2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.welcome{
    color: rgb(27,31,41);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 32.6px;
}
.max_text{
    font-size: 48.5px;
    font-weight: 800;
    line-height: 1.13em;
    color: #1b1f29;
}
.left{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: block;
}
.left_text > p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;

    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.pos_pic{
    width: 50%;
    position: relative;
}
img[alt=pos1]{
    max-width: 100%;
    height: 100%;
}
img[alt=pos2]{
    position: absolute;
    left: -10%;
    top: 300px;
}
/* **********************************************************************************************
Achivment section
********************************************************************************************** */
.achivment{
    width: 100%;
    padding: 5em 10%;
    background-color: #1B1F29;
    margin: auto;
}
.achivment > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 45px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
}
.counter{
    margin: 3em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
.counter_item1, .counter_item2, .counter_item3{
    text-align: center;
}
.item_num{
    display: block;
    font-size: 50px;
    font-weight: 800;
}
.item_text{
    display: block;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 0.2;
}
/* **********************************************************************************************
Gallery section
********************************************************************************************** */
.gallery{
    width: 100%;
    padding: 3em 0;
}
.gallery_title > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 30px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    line-height: 4;
}
.gallery_title p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}
.gallery_title > p > span:last-child{
    font-weight: bold;
    display: block;
}
.gallery_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gallery_item{
    line-height: 0;
    position: relative;
    cursor: pointer;
}
.gallery_item  img{
    max-width: 100%;
    height: auto;
}
.item{
    position: relative;
}
.item:after{
    content: "+";
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    bottom: 1400%; 
    left: 47%;
    opacity: 0;
    transition: 0.5s;
}
.item:hover  img{
    filter: brightness(30%);
    transition: 0.2s;
}
.item:hover:after{
    opacity: 1;
}
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transform: scale(0);
  
    -webkit-transition: all 0.9s ease-out;
    -moz-transition: all 0.9s ease-out;
    transition: all 0.6s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    transform: scale(1);
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
    transform: scale(0);
  }

/* **********************************************************************************************
Team section
********************************************************************************************** */
.team{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6% 0;
}

.team_title > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10%;
    text-align: left;
}
.team_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
}
.team_text > p > span:first-child{
    display: block;
}
.team_text > p > span:last-child{
    font-weight: 700;
}
.team_article_1{
    width: 20%;
}
.team_article_2{
    display: flex;
    justify-content: flex-end;
    width: 70%;
    flex-wrap: wrap;
}
.team_article_2 img{
    max-width: 100%;
}
.adam,.perry{
    width: 45%;
}
.adam > img, .perry > img{
    margin-bottom: 30px;
}
.adam{
    margin-right: 4%;
}
.architect_h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.architect_h2 > span{
    font-weight: 600;
}
.architect_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* **********************************************************************************************
map_contacts section
********************************************************************************************** */
.map_contacts{
    width: 100%;
}
.map_contacts_article_1{
    display: flex;
    padding: 5% 7.5% 5% 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.map{
    width: 50%;
}
.map > iframe{
    width: 100%;
    height: 100%;
}
.contact_title{
    width: 40%;
}
.contact_title > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom:10%;
}
.contact_info > .contact_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom:10%;
    width: 100%;
}
.contact_p > span:first-child{
    display: block;
}
.contact_p > span:last-child{
    font-weight: 700;
}
.map_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:10%;
    text-transform: capitalize;
    width: 100%;
}
.map_p span{
    display: block;
}
.number_div a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:2%;
    color: black;
    display: block;
    transition: 0.2s;
}
.number_div a:hover{
    color: blue;
}
.email_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10%;
    display: block;
    color: aqua;
    cursor: pointer;
    transition: 0.2s;
}
.email_p:hover{
    color: black;
}
.map_contacts_article_2{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article_2_title > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20%;
    text-align: center;
}
.article_2_title > h2 > span{
    display: block;
    font-weight: bold;
}
.user_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}
.user_info > input, textarea{
    width: 100%;
    margin-bottom: 10%;
    outline: none;
    border: none;
    border-bottom: 2px solid #dddddd;
    transition: 0.2s;
}
.user_info > textarea{
    resize: vertical;
    overflow: auto;
}
.user_info > input:focus, textarea:focus{
    border-bottom: 2px solid black;
}
.user_info > ::-webkit-input-placeholder{
    font-size: 16px;
}
.send_but{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 65px 20px 65px;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    transition: 0.2s;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
}
.send_but:hover{
    color: #000000;
    background-color: #ffffff;
}
/* **********************************************************************************************
Footer
********************************************************************************************** */
footer{
    background-color: #0E0E0E;
    height: auto;
    padding: 0 10%;
}
.footer_logo{
    display: flex;
    justify-content: flex-start;
    padding: 0.5%;
    border-bottom: 1px solid #54575F;
}
.footer_logo img{
    border-right: 1px solid #54575F;
    width: 12%;
}
.footer_logo p{
    display: flex;
    align-self: center;
    text-transform: capitalize;
    color: #757575;
    padding-left: 1%;
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.finish_part{
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}
.finish_part p{
    color: #757575;
    font-size: small;
    font-family: "Raleway", Sans-serif;
}
.finish_part span{
    color: aqua;
    cursor: pointer;
    transition: 0.2s;
    text-transform: capitalize;
}
.finish_part span:hover{
    color: #1B1F29;
}
.footer_soc{
    border: none;
}
.footer_soc > a{
    color: #757575;
}
/* **********************************************************************************************
Footer finish
********************************************************************************************** */
/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */


   @media (min-width: 1025px) and (max-width: 1280px) {
    header nav ul li a{
        font-size: 12px;
    }
    .search{
        margin: 0 10px;
    }
    /* *************************************************************************************************
    Experience section
    ********************************************************************************************** */
    .experience{
        width: 100%;
        padding: 5em 1.5em;
    }
    .experience .experience_number{
        width: 25%;
        padding: 2em;
    }
    .experience_number > span{
        display: block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    .experience_number > span:first-child{
        font-size: 180px;
    }
    .experience_number > span:nth-child(2){
        font-size: 50px;
    }
    .experience_number > span:nth-child(3){
        font-size: 19px;
    }
    .experience_title{
        width: 30%;
    }
    .welcome{
        font-size: 20px;
        margin-bottom: 12%;
    }
    .min_text{
        font-size: 50px;
    }
    .max_text{
        font-size: 50px;
    }
    .experience_text{
        width: 30%;
    }
    /******************************************************************************* 
    achivment secton 
    ********************************************************************************/
    .item_text{
        font-size: 42px;
    }
    /* *****************************************************************************
    Team section
    ********************************************************************************/
    .team_text{
        font-size: 55px;
    }    
   }
   @media (min-width: 768px) and (max-width: 1214px) {
       /* .soc_media{
           border: none;
       } */
   }
   @media (min-width: 768px) and (max-width: 1024px) {
        header{
            position: static;
            background-color: #19191A;
            border: none;
            padding: 2em 5em;
            height: 7em;
        }
        header nav{
            width: 75%;
            padding: 0 1em;
        }
        header nav ul li a{
            font-size: 13px;
        }
        .search{
            width: 5%;
            margin: 0 10px;
        }
        .soc_media{
            width: 15%;
        }
        .soc_media a{
            font-size: 12px;
        }
        /***************************************************************************
        Home section 
         ***************************************************************************/
        .home{
            padding: 0 5em;
        }
        /* *************************************************************************************************
        Experience section
        ********************************************************************************************** */
        .experience{
            width: 100%;
            padding: 5em 1.5em;
            flex-wrap: wrap;
        }
        .experience .experience_number{
            width: 50%;
            padding:3em 2em;
            margin: 1em 25%;
        }
        .experience_number > span{
            text-align: center;
            line-height: 1;
        }
        .experience_number > span:first-child{
            font-size: 100px;
        }
        .experience_number > span:nth-child(2){
            font-size: 50px;
        }
        .experience_number > span:nth-child(3){
            font-size: 20px;
        }
        .experience_title{
            width: 45%;
        }
        .welcome{
            font-size: 20px;
            margin-bottom: 12%;
        }
        .min_text{
            font-size: 50px;
            font-weight: 500;
        }
        .max_text{
            font-size: 50px;
            font-weight: 800;
        }
        .experience_text{
            width: 45%;
        }
        /* *************************************************************************************************
        Bold project section
        ********************************************************************************************** */
        .bold_projects{
            display: flex;
            justify-content: space-between;
            padding: 15% 3%;
        }
            /******************************************************************************* 
        achivment secton 
        ********************************************************************************/
        .achivment > h2{
            letter-spacing: 30px;
        }
        .item_num{
            font-size: 30px;
        }
        .item_text{
            font-size: 25px;
        }
        /* ***************************************************************************************
        Gallery section
        ************************************************************************************** */
        .gallery_grid{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        
        /* ****************************************************************************************
        Team section
        ************************************************************************************** */
        .team{
            padding: 3%;
        }

        .team_title > h2{
            font-size: 20px;
            letter-spacing: 30px;
            margin-bottom: 20%;
        }
        .team_text{
            font-size: 40px;
            text-transform: uppercase;
            text-align: left;
        }
        .team_article_1{
            width: 30%;
        }
        .team_article_2{
            justify-content: space-between;
            width: 60%;
            flex-wrap: wrap;
        }
        .team_article_2 img{
            max-width: 100%;
        }
        .adam,.perry{
            width: 48%;
        }
        .architect_h2{
            font-size: 30px;
        }
        .architect_h2 > span{
            font-weight: 600;
        }
        .architect_p{
            font-size: 16px;
        }
        /* *****************************************************************************************
        map_contacts section
        ************************************************************************************** */
        .map_contacts_article_1{
            padding: 5% 10% 5% 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .map{
            width: 50%;
        }
        .map > iframe{
            max-width: 100%;
            height: 90%;
        }
        .contact_title{
            width: 40%;
        }
        .contact_title > h2{
            font-size: 16px;
            letter-spacing: 30px;
        }
        .contact_info > .contact_p{
            font-size: 40px;
            margin-bottom:10%;
            width: 100%;
        }
        .contact_p > span:last-child{
            font-weight: 700;
        }
        .map_p{
            font-size: 16px;
            margin-bottom:10%;
            width: 100%;
        }
        .number_div a{
            font-size: 16px;
            margin-bottom:2%;
        }
        .email_p{
            font-size: 16px;
            margin-top: 10%;
        }
        .map_contacts_article_2{
            padding: 0;
            width: 100%;
        }
        .user_info{
            width: 100%;
        }
        .article_2_title > h2{
            font-size: 40px;
        }
        /* *****************************************************************************************
        Footer
        ************************************************************************************** */
        footer{
            background-color: #0E0E0E;
            height: auto;
            padding: 1% 5%;
            margin-top: 10%;
        }
        .footer_logo{
            display: flex;
            flex-direction: column;
            padding: 2% 0;
        }
        .footer_logo img{
            border: none;
            width: 20%;
            margin: auto;
        }
        .footer_logo p{
            padding: 0;
            font-size: 14px;
        }
        .finish_part{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5%;
        }
        .finish_part p{
            text-align: center;
        }
        .footer_soc{
            padding: 0;
            width: 20%;
            margin: auto;
        }
        .footer_soc > a{
            color: #757575;
        }
   }

   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

   @media (min-width: 425px) and (max-width: 767px) {
    /* ************************************************************
    Pos_header section
    ****************************************************************/
    .pos_header{
        display: flex;
        justify-content: space-between;
        background-color: #000000;
        width: 100%;
        padding: 5%;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .burg_logo, .pos_search{
        width: 5%;
    }
    .burg_logo > img{
        max-width: 100%;
    }
    .pos_search > a{
        font-size: 100%;
        color: #ffffff;
    }
    /* *******************************************************************************
    Header
    ***********************************************************************************/
    header{
        position: static;
        background-color: #19191A;
        border: none;
        padding: 2em 5em;
        height: 12em;
        display: block;
        margin-top: 15%;
    }
    header nav{
        display: none;
    }
    .logo{
        display: block;
    }
    .logo > img{
        display: block;
        border: none;
        margin: auto;
        padding: 0;
        margin-bottom: 5%;
    }
    .logo > p{
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 5%;
        font-size: 18px;
    }
    .search{
        display: none;
    }
    .soc_media{
        width: 40%;
        padding: 0;
        border: none;
        margin: auto;
    }
    .soc_media a{
        font-size: 20px;
        padding: 0;
    }
    /***************************************************************************
    Home section 
     ***************************************************************************/
    .home{
        padding: 0 5em;
        background-position: center;
    }
    .bg_text span{
        width: 100%;
    }
    .bg_text h1 > span:last-child{
        font-size: large;
        letter-spacing: 25px;
    }
    
    /* ********************************************************************************************
    Experience section
    ***************************************************************************************** */
    .experience{
        width: 100%;
        padding: 5em 1.5em;
        flex-wrap: wrap;
    }
    .experience .experience_number{
        width: 90%;
        padding:3em 2em;
        margin: 1em 5%;
    }
    .experience_number > span{
        text-align: center;
        line-height: 1;
    }
    .experience_number > span:first-child{
        font-size: 200px;
    }
    .experience_number > span:nth-child(2){
        font-size: 50px;
    }
    .experience_number > span:nth-child(3){
        font-size: 20px;
    }
    .experience_title{
        width: 90%;
        margin: 10% auto;
    }
    .welcome{
        font-size: 20px;
        margin-bottom: 12%;
    }
    .min_text{
        font-size: 50px;
        font-weight: 500;
    }
    .max_text{
        font-size: 50px;
        font-weight: 800;
    }
    .experience_text{
        width: 90%;
        margin: 0 auto;
    }
    /* *************************************************************************************************
    Bold project section
    ********************************************************************************************** */
    .bold_projects{
        display: block;
        /* justify-content: space-between; */
        padding: 15% 3%;
    }
    .left_text{
        width: 90%;
        margin: 5% auto;
    }
    .left > h2{
        display: block;
    }
    .left{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        display: block;
    }
    .left_text > p{
        font-size: 20px;
    }
    .pos_pic{
        width: 90%;
        margin: auto;
        position: static;
    }
    img[alt=pos1]{
        max-width: 100%;
        height: 100%;
    }
    img[alt=pos2]{
        position: static;
        display: block;
        margin: 5% auto;
        width: 90%;
    }
        /******************************************************************************* 
    achivment secton 
    ********************************************************************************/
    .achivment{
        width: 100%;
        padding: 5%;
    }
    .achivment > h2{
        display: inline-block;
        font-size: 15px;
        letter-spacing: 20px;
        text-align: center;
        margin: 0 5%;
    }
    .counter{
        margin: 3em auto;
        display: block;
        width: 100%;
        line-height: 2;
    }
    .counter_item1, .counter_item2, .counter_item3{
        text-align: center;
    }
    .counter_item2{
        margin: 5% 0;
    }
    .item_num{
        display: block;
        font-size: 50px;
    }
    .item_text{
        display: block;
        font-size: 35px;
        line-height: 0.2;
    }
    
    /* ***************************************************************************************
    Gallery section
    ************************************************************************************** */
    .gallery_grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .gallery_title > h2{
        font-size: 20px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        line-height: 4;
    }
    .gallery_title p{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5%;
    }
    
    /* ****************************************************************************************
    Team section
    ************************************************************************************** */
    .team{
        padding: 3%;
        display: block;
    }
    .team_title > h2{
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
    }
    .team_text{
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .team_article_1{
        margin: auto;
        width: 100%;
    }
    .team_article_2{
        display: block;
        width: 100%;
    }
    .team_article_2 img{
        max-width: 100%;
    }
    .adam,.perry{
        width: 90%;
        margin: 5% auto;
    }

    .architect_h2{
        font-size: 30px;
    }
    .architect_h2 > span{
        font-weight: 600;
    }
    .architect_p{
        font-size: 20px;
    }
    /* *****************************************************************************************
    map_contacts section
    ************************************************************************************** */
    .map_contacts_article_1{
        padding: 5% 0;
        margin: 10% 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .map{
        width: 100%;
        margin: 10% 0;
    }
    .map > iframe{
        max-width: 100%;
        height: 300px;
    }
    .contact{
        width: 100%;
        padding: 0 10%;
    }
    .contact_title{
        width: 40%;
    }
    .contact_title > h2{
        font-size: 16px;
        letter-spacing: 30px;
    }
    .contact_info > .contact_p{
        font-size: 40px;
        margin-bottom:10%;
        width: 100%;
    }
    .contact_p > span:last-child{
        font-weight: 700;
    }
    .map_p{
        font-size: 16px;
        margin-bottom:10%;
        width: 100%;
    }
    .number_div a{
        font-size: 16px;
        margin-bottom:2%;
    }
    .email_p{
        font-size: 16px;
        margin-top: 10%;
    }
    .map_contacts_article_2{
        padding: 0;
        width: 100%;
    }
    .user_info{
        width: 100%;
    }
    .article_2_title > h2{
        font-size: 40px;
    }
    /* *****************************************************************************************
    Footer
    ************************************************************************************** */
    footer{
        background-color: #0E0E0E;
        height: auto;
        padding: 1% 5%;
        margin-top: 10%;
    }
    .footer_logo{
        display: flex;
        flex-direction: column;
        padding: 2% 0;
    }
    .footer_logo img{
        border: none;
        width: 40%;
        margin: 2% auto;
    }
    .footer_logo p{
        padding: 0;
        font-size: 15px;
    }
    .finish_part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5% 0;
        margin: 2% 0;
    }
    .finish_part p{
        font-size: 16px;
        text-align: center;
        margin-bottom: 5%;
    }
    .footer_soc{
        padding: 3% 0;
        width: 20%;
        margin: auto;
    }
    .footer_soc > a{
        font-size: 15px;
        color: #757575;
    }       
   }
   @media (min-width: 314px) and (max-width: 424px) {
       
    /* ************************************************************
    Pos_header section
    ****************************************************************/
    .pos_header{
        display: flex;
        justify-content: space-between;
        background-color: #000000;
        width: 100%;
        padding: 5%;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .burg_logo, .pos_search{
        width: 5%;
    }
    .burg_logo > img{
        max-width: 100%;
    }
    .pos_search > a{
        font-size: 100%;
        color: #ffffff;
    }
    /* *******************************************************************************
    Header
    ***********************************************************************************/
    header{
        position: static;
        background-color: #19191A;
        border: none;
        padding: 2em 5em;
        height: 10em;
        display: block;
        margin-top: 15%;
    }
    header nav{
        display: none;
    }
    .logo{
        display: block;
    }
    .logo > img{
        display: block;
        border: none;
        margin: auto;
        padding: 0;
        margin-bottom: 5%;
    }
    .logo > p{
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 5%;
        font-size: 18px;
    }
    .search{
        display: none;
    }
    .soc_media{
        width: 40%;
        padding: 0;
        border: none;
        margin: auto;
    }
    .soc_media a{
        font-size: 20px;
        padding: 0;
    }
    /***************************************************************************
    Home section 
     ***************************************************************************/
    .home{
        padding: 0 5em;
        background-position: center;
    }
    .bg_text h1{
        font-size: 0.5em;
        margin: 0 -60px;
    }
    .bg_text span{
        width: 100%;

    }
    .bg_text h1 > span:last-child{
        font-size: 0.4em;
        letter-spacing: 15px;
    }
    
    /* ********************************************************************************************
    Experience section
    ***************************************************************************************** */
    .experience{
        width: 100%;
        padding: 5em 1.5em;
        flex-wrap: wrap;
    }
    .experience .experience_number{
        width: 90%;
        padding:3em 2em;
        margin: 1em 5%;
    }
    .experience_number > span{
        text-align: center;
        line-height: 1;
    }
    .experience_number > span:first-child{
        font-size: 170px;
    }
    .experience_number > span:nth-child(2){
        font-size: 50px;
    }
    .experience_number > span:nth-child(3){
        font-size: 20px;
    }
    .experience_title{
        width: 90%;
        margin: 10% auto;
    }
    .welcome{
        font-size: 20px;
        margin-bottom: 12%;
        letter-spacing: 18px;
    }
    .min_text{
        font-size: 44px;
        font-weight: 500;
    }
    .max_text{
        font-size: 44px;
        font-weight: 800;
    }
    .experience_text{
        width: 90%;
        margin: 0 auto;
    }
    /* *************************************************************************************************
    Bold project section
    ********************************************************************************************** */
    .bold_projects{
        display: block;
        /* justify-content: space-between; */
        padding: 15% 3%;
    }
    .left_text{
        width: 90%;
        margin: 5% auto;
    }
    .left > h2{
        display: block;
    }
    .left{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        display: block;
    }
    .left_text > p{
        font-size: 20px;
    }
    .pos_pic{
        width: 90%;
        margin: auto;
        position: static;
    }
    img[alt=pos1]{
        max-width: 100%;
        height: 100%;
    }
    img[alt=pos2]{
        position: static;
        display: block;
        margin: 5% auto;
        width: 90%;
    }
        /******************************************************************************* 
    achivment secton 
    ********************************************************************************/
    .achivment{
        width: 100%;
        padding: 5%;
    }
    .achivment > h2{
        display: inline-block;
        font-size: 15px;
        letter-spacing: 10px;
        text-align: center;
        margin: 0 5%;
    }
    .counter{
        margin: 3em auto;
        display: block;
        width: 100%;
        line-height: 2;
    }
    .counter_item1, .counter_item2, .counter_item3{
        text-align: center;
    }
    .counter_item2{
        margin: 5% 0;
    }
    .item_num{
        display: block;
        font-size: 50px;
    }
    .item_text{
        display: block;
        font-size: 35px;
        line-height: 0.2;
    }
    
    /* ***************************************************************************************
    Gallery section
    ************************************************************************************** */
    .gallery_grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .gallery_title > h2{
        font-size: 20px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        line-height: 4;
    }
    .gallery_title p{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5%;
    }
    
    /* ****************************************************************************************
    Team section
    ************************************************************************************** */
    .team{
        padding: 3%;
        display: block;
    }
    .team_title > h2{
        font-size: 30px;
        letter-spacing: 4px;
        text-align: center;
    }
    .team_text{
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .team_article_1{
        margin: auto;
        width: 100%;
    }
    .team_article_2{
        display: block;
        width: 100%;
    }
    .team_article_2 img{
        max-width: 100%;
    }
    .adam,.perry{
        width: 90%;
        margin: 5% auto;
    }

    .architect_h2{
        font-size: 30px;
    }
    .architect_h2 > span{
        font-weight: 600;
    }
    .architect_p{
        font-size: 20px;
    }
    /* *****************************************************************************************
    map_contacts section
    ************************************************************************************** */
    .map_contacts_article_1{
        padding: 5% 0;
        margin: 10% 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .map{
        width: 100%;
        margin: 10% 0;
    }
    .map > iframe{
        max-width: 100%;
        height: 300px;
    }
    .contact{
        width: 100%;
        padding: 0 5%;
    }
    .contact_title{
        width: 40%;
    }
    .contact_title > h2{
        font-size: 16px;
        letter-spacing: 24px;
    }
    .contact_info > .contact_p{
        font-size: 40px;
        margin-bottom:10%;
        width: 100%;
    }
    .contact_p > span:last-child{
        font-weight: 700;
    }
    .map_p{
        font-size: 16px;
        margin-bottom:10%;
        width: 100%;
    }
    .number_div a{
        font-size: 16px;
        margin-bottom:2%;
    }
    .email_p{
        font-size: 16px;
        margin-top: 10%;
    }
    .map_contacts_article_2{
        padding: 0;
        width: 100%;
    }
    .user_info{
        width: 100%;
    }
    .article_2_title > h2{
        font-size: 40px;
    }
    /* *****************************************************************************************
    Footer
    ************************************************************************************** */
    footer{
        background-color: #0E0E0E;
        height: auto;
        padding: 1% 5%;
        margin-top: 10%;
    }
    .footer_logo{
        display: flex;
        flex-direction: column;
        padding: 2% 0;
    }
    .footer_logo img{
        border: none;
        width: 40%;
        margin: 2% auto;
    }
    .footer_logo p{
        padding: 0;
        font-size: 15px;
    }
    .finish_part{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5% 0;
        margin: 2% 0;
    }
    .finish_part p{
        font-size: 16px;
        text-align: center;
        margin-bottom: 5%;
    }
    .footer_soc{
        padding: 3% 0;
        width: 20%;
        margin: auto;
    }
    .footer_soc > a{
        font-size: 15px;
        color: #757575;
    }       
   }

